<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Sarath</h1>
    <p>Welcome to sarath</p>
    <form action="/insert/insert_data" method="POST" > 
      Name : <input type="text" name="name">
      <br>
      <br>
      Email : <input type="email" name="email">
      <br>
      <br>
      <button type="submit">Save</button>
    </form>    
  </body>
</html>
